
*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* :focus,:active{outline: none;}
a:focus,a:active{outline: none;} */

nav,footer,header,aside{display:block;}

html, body {
  height:100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-align-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{ 
  font-family: inherit;
}

/* input::-ms-clear{display: none;} */
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover{ text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/* h1,h2, h3, h4, h5, h6{
  font-size:inherit;
} */

/*  */

header{
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
header h2{
  padding: 2rem;
}
#Logo{
  text-decoration: none;
  color: #000;
}
.search-form{
  padding: 2rem;
  display: flex;
}
.search-form input{
  font-size: 2rem;
  padding: 0.5rem;
  width:100%;
  border: 1px solid rgb(71, 59, 126);
}
.search-form button{
  padding: .5rem;
  border: none;
  font-size: 1rem;
  background: rgb(71, 59, 126);
  color: white;
  cursor: pointer;
}

/* card */

.gallery-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(129, 129, 129);
  padding: 1rem 0rem;
}
.gallery-info a{
  color: rgb(129, 129, 129);
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: 0 auto;
  row-gap: 3rem;
  column-gap: 2rem;
}

.gallery-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more{
  padding: 1rem 3rem;
  background: rgb(71, 59, 126);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}